<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <label>Nom de la carte :</label>
    <input type="text" formControlName="nomCarte" placeholder="Paolo Hoogland" />
    <div *ngIf="cardForm.get('nomCarte')?.invalid && cardForm.get('nomCarte')?.touched" class="error">
      <p *ngIf="cardForm.get('nomCarte')?.hasError('required')">Le nom de la carte est obligatoire.</p>
      <p *ngIf="cardForm.get('nomCarte')?.hasError('pattern')">Le nom de la carte doit contenir uniquement des lettres.</p>
    </div>
  
    <label>Code de la carte :</label>
    <input type="text" formControlName="codeCarte" placeholder="1234567890123456" />
    <div *ngIf="cardForm.get('codeCarte')?.invalid && cardForm.get('codeCarte')?.touched" class="error">
      <p *ngIf="cardForm.get('codeCarte')?.hasError('required')">Le code de la carte est obligatoire.</p>
      <p *ngIf="cardForm.get('codeCarte')?.hasError('pattern')">Le code de la carte doit contenir uniquement des chiffres.</p>
    </div>
  
    <label>CCV :</label>
    <input type="text" formControlName="ccv" placeholder="123" />
    <div *ngIf="cardForm.get('ccv')?.invalid && cardForm.get('ccv')?.touched" class="error">
      <p *ngIf="cardForm.get('ccv')?.hasError('required')">Le CCV est obligatoire.</p>
      <p *ngIf="cardForm.get('ccv')?.hasError('pattern')">Le CCV doit contenir uniquement des chiffres.</p>
    </div>
  
    <label>Date d'expiration :</label>
    <input type="text" formControlName="expiration" placeholder="MM/AA" />
    <div *ngIf="cardForm.get('expiration')?.invalid && cardForm.get('expiration')?.touched" class="error">
      <p *ngIf="cardForm.get('expiration')?.hasError('required')">La date d'expiration est obligatoire.</p>
      <p *ngIf="cardForm.get('expiration')?.hasError('pattern')">La date d'expiration doit être au format MM/AA.</p>
    </div>
    <button type="submit" [disabled]="cardForm.invalid">Enregistrer</button>
  </form>
  